/* google font */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* CNPM moi */
  --primary-color: #212121;
  --secondary-color: #808080;
  --bold-color: #000;
  --hover-color-1: #3a3a3a;
  --hover-color-2: #f5f5f5;

  /* LTTT */
  /* --primary-color: #0b7285;
  --secondary-color: #15aabf;
  --bold-color: #0b7285;
  --hover-color-1: #0b7285;
  --hover-color-2: #c5f6fa; */
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--primary-color);
  /* background-color: #f9f9f9; */
  background-color: #f1f3f5;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.8rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.4rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 0 1rem;
  }
}

#btn-primary {
  height: auto;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  transition: 0.3s all ease;
  #btn-main span {
    svg {
      font-size: 2rem;
    }
  }

  &:hover {
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

#btn-secoundary {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s all ease;

  span svg {
    font-size: 1.6rem;
  }

  &:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

#btn-cancel {
  background-color: #c92a2a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s all ease;

  &:hover {
    background-color: #fff;
    color: #c92a2a;
    box-shadow: 0 0 0 2px #c92a2a;
  }
}

select {
  width: 100%;
  height: 4rem;
  padding: 8px;
  margin: 0 auto;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s, border-width;
  color: var(--primary-color);
  &:focus {
    border-color: var(--primary-color);
    border-width: 2px;
    outline: none;
  }
}

strong {
  font-weight: 700;
}
